@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body {
    font-family: "Lexend", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #E8F5E9;
}


nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: block;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav a::after {
    content: " ▼";
    font-size: 10px;
    vertical-align: middle;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

.container h1 {
    font-size: 34px;
    color: #1B5E20;
    text-align: center;
    margin-bottom: 20px;
}

.container h2 {
    font-size: 30px;
    color: #2E7D32;
    margin-bottom: 16px;
    text-align: center;
}

.container h3 {
    font-size: 20px;
    color: black;
    margin-top: 30px;
    text-align: center;
}

.container p {
    margin-bottom: 16px;
    color: black;
    text-align: center;
}

.slide,
.activity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

/* Đảo chiều cho mục xen kẽ */
.slide.reverse,
.activity-container.reverse {
    flex-direction: row-reverse;
}

.text-section,
.image-section {
    flex: 1;
    padding: 10px;
}

/* Hình ảnh responsive */
.slide-image,
.activity-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}

.highlight-section {
    background-color: #F1F8E9;
    padding: 30px 20px;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(46, 125, 50, 0.2);
}

.annual-section {
    background-color: #FFFDE7;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 202, 40, 0.2);
}

.highlight-section h2,
.annual-section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #2E7D32;
}

.activity-container {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.activity-container.reverse {
    flex-direction: row-reverse;
}

.container h4 {
    text-align: center;
    font-size: 22px;
    color: #2E7D32;
    margin-top: 30px;
    margin-bottom: 16px;
}
