@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body {
    font-family: "Lexend", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #E8F5E9;
}

header {
  background: #2E7D32;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 60px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  display: block;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav a::after {
  content: " ▼";
  font-size: 10px;
  vertical-align: middle;
}
main {
    padding: 40px 20px;
}
h1 {
  font-size: 32px;
  color: #2E7D32;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.container p {
  font-size: 18px;
  color: black;
  text-align: justify;
  margin-bottom: 20px;
} 
.container ul {
  padding-left: 40px;
  margin-bottom: 30px;
}

.container ul li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: justify;
}
.fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.field {
  background-color: #f4fdf5;
  border: 1px solid #c8e6c9;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.3s;
}

.field:hover {
  transform: translateY(-5px);
}

.field img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  margin-bottom: 12px;
}
.slogan {
  font-size: 1.2rem;
  color: #4CAF50;
  margin-top: -10px;
  font-style: italic;
  text-align: center;
}
.slider {
    width: 99vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 600vw;
    transition: transform 1s ease-in-out;
}

.slides img {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    flex-shrink: 0;
}